nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

a {
  display: inline-block;
  margin: 0 5px;
}

.active {

  border-bottom: 2px solid cadetblue;
  border-bottom-width: 50%;
}

