
h2 {
  color: cadetblue;
}

.product {
  text-align: center;
  width: 200px;
}

.product img {
  width: 70%;
}

.product h2 {
  margin-top: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h2.selected {
  background-color: gainsboro;
}
