<!--The content below is only a placeholder and can be replaced.-->
<div class="header" style="text-align:center">
  <a routerLink="">
    <img id="logo" alt="Store Logo" src="assets/img/logo.jpg">
    <h1>
    {{ title }}
    </h1>
  </a>
</div>

<main>

  <app-menu></app-menu>
  <router-outlet></router-outlet>

  <!--

  <section class="form">

    <app-product-create (productCreated)="add($event)" (productCanceled)="remove($event)"></app-product-create>

  </section>



  <section class="display">

    <app-product-detail
      [product]="currentProduct"
    ></app-product-detail>

  </section>

  -->

</main>
