html {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-flow: row wrap;
}



a {
  text-decoration: none;
}

main {
  align-items: center;
  max-width: 1000px;
  margin: 10px auto;
}


.form {
  width: 800px;
  margin: 0 auto;
}
/*
form {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
*/

.header {
  margin: 20px 0;
}

.display {
  width: 300px;
  height: 700px;
  margin: 3em auto;
  text-align: center;
}

#logo {
  height: 100px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  box-shadow: 2px 2px 10px grey;
}

h1 , h2 , .display {
  color: cadetblue;
}

h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
}

.galerie {
  padding: 2em;
  display: flex;
  flex-flow: row  wrap;
  border: 1px solid rgba(95,158,160,0.2);
  border-radius: 1em;
}
