<!--The content below is only a placeholder and can be replaced.-->
<div class="header" style="text-align:center">

  <img id="logo" alt="Store Logo" src="assets/img/logo.jpg">
  <h1>
    {{ title }}
  </h1>
</div>

<main>

  <section class="galerie">

    <app-product-thumbnail
      *ngFor="let product of products"
      [product]="product"
     (productSelected)="setCurrent($event)"
    ></app-product-thumbnail>

  </section>

  <section class="display">

    <app-product-detail
      [product]="currentProduct"
    ></app-product-detail>

  </section>

</main>
